<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
                <link rel="icon" href="./img/weather.png">

        <link rel="stylesheet" href="./css/styles.css">

    </head>
    <body>
        <div class="main-content">

        {{>header}}
<p>This site was re-created by me. It uses geo location data from MapQuest to retrieve weather information
			from DarkSky.</p>    
                        </div>

        {{>footer}}
    </body>
</html>